{% extends "base.html" %}
{% block title %}Sample {{sample.id}}{% endblock %}
{% block content %}
    
    <!---Events Table--->
    <h1> Sample {{sample.id}} </h1>
    <h3> Events </h3>
    <table class="table table-striped table-bordered table-hover" >
        <thead>
            <tr>
                <td>time</td><td>sample number</td><td>sample face</td><td>sample angle</td><td>Excitation wavelength (nm)</td><td>Excitation Slit (nm)</td><td>Increment (nm)</td><td>Emission Slit (nm)</td>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
            <!---Loop through events--->
            {% for event in sample.events.all() %}
            <tr>
                <td class="rowlink-skip"><a href="/event/{{event.id}}/delete">Delete</a></td>
                <td><a href="/event/{{event.id}}">{{event.time.month}}/{{event.time.day}}/{{event.time.year}} {{"%02d" % event.time.hour}}:{{"%02d" % event.time.minute}}</a></td>
                <td>{{event.sample_number}}</td>
                <td>{{event.sample_face}}</td>
                <td>{{event.sample_angle}}</td>
                <td>{{event.Excitation_wavelength_nm}}</td>
                <td>{{event.Excitation_Slit_nm}}</td>
                <td>{{event.Increment_nm}}</td>
                <td>{{event.Emission_Slit_nm}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!---New Button--->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Event</button>
    <!---New Modal--->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Event</h4>
                </div>
                <div class="modal-body">
                    <!---Modal Form--->
                    <form method="post" action="/sample/{{sample.id}}">
                        <div class="form-group">
                            <label for="time">Time:</label>
                            <input type="text" class="form-control" id="time" name="time">
                        </div>
                        <div class="form-group">
                            <label for="sample_number">Sample Number:</label>
                            <input type="text" class="form-control" id="sample_number" name="sample_number">
                        </div>
                        <div class="form-group">
                            <label for="sample_face">Sample face:</label>
                            <input type="text" class="form-control" id="sample_face" name="sample_face">
                        </div>
                        <div class="form-group">
                            <label for="sample_angle">Sample angle (degree):</label>
                            <input type="text" class="form-control" id="sample_angle" name="sample_angle">
                        </div>
                        <div class="form-group">
                            <label for="Excitation_wavelength_nm">Excitation Wavelength (nm):</label>
                            <input type="text" class="form-control" id="Excitation_wavelength_nm" name="Excitation_wavelength_nm">
                        </div>
                        <div class="form-group">
                            <label for="Excitation_Slit_nm">Excitation Slit (nm):</label>
                            <input type="text" class="form-control" id="Excitation_Slit_nm" name="Excitation_Slit_nm">
                        </div>
                        <div class="form-group">
                            <label for="Increment_nm">Increment (nm):</label>
                            <input type="text" class="form-control" id="Increment_nm" name="Increment_nm">
                        </div>
                        <div class="form-group">
                            <label for="Emission_Slit_nm">Emission Slit (nm):</label>
                            <input type="text" class="form-control" id="Emission_Slit_nm" name="Emission_Slit_nm">
                        </div>
                        <input type="submit" class="btn btn-info" value="Create Sample">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}